

.ddnone{
    display: none!important;
}
.mobile_phone{
    margin-right: 25px;
}
.mobile_phone i{
    font-size: 28px;
    margin-top: 10px;
    color: #046b72;
}
.hero-content{
    max-width: 700px;
    text-align: center;
}
.hero_content{
    display: flex;
    justify-content: center;
    text-align: center;
}
.hero_content .hero-btn{
    display: flex!important;
    justify-content: center!important;
    text-align: center;
}
@media (max-width: 991px) {
    .hero-single .hero-content .hero-title {
        font-size: 32px;
    }
}
.hero-single::before {
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0) 5%, rgba(55, 173, 184, 0) 70%);
}
@media (min-width: 992px) {
    .navbar .nav-item .nav-link {
        padding: 20px 0 20px 0;
        font-size: 16px;
    }
}

.nav_logo img {
   width: 220px;
   height: auto;
   object-fit: cover;
}
.site-title {
    font-weight: 700;
    text-transform: capitalize;
    font-size: 32px;
}
.abtarea p{
    margin-bottom: 10px;;
}
@media (max-width: 991px) {
    .navbar {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .skill-img {
    position: relative;
    text-align: left;
}
}
@media (max-width: 576px) {
   .hdtop{
    display: none;
   }
   .hero-single {
    padding-top: 120px;
    padding-bottom: 80px;
}
.hero-single .hero-content .hero-title {
    font-size: 32px;
    margin-bottom: 16px;
}
.hero-single .hero-content p {
    margin-bottom: 0px;
    line-height: 24px;
}
.hero-single .hero-content .hero-btn {
    margin-top: 20px;
}
.site-title {
    font-size: 26px;
    letter-spacing: -1px;
}
}

@media (max-width: 991px) {
    .about-right {
        margin-top: 0px;
    }
    .abtimg img{
        margin-top: 40px;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        padding: 10px;
        margin-top: 0;
        left: -15px;
        border-radius: 2px;
        border: none;
        background: var(--color-white);
        width: 250px;
    }
}

.bglightone {
    background-color: #edf5f8;
}
.bglighttwo {
    background-color: #fee7e8;
}
.pdtp{
    padding-top: 50px;
    padding-bottom: 50px;
}
.mtscc{
    margin-top: 50px;
}


.service_row p{
    line-height: 24px;
    font-size: 15px;
}
.service_row img{
    height: 220px;
    width: 100%;
    object-fit: cover;
}
.h4textfixed h4{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -0.5px;
}
.process_sec_row p{
    line-height: 24px;
    font-size: 15px;
}
.ptext_fixed p{
    line-height: 24px;
    font-size: 15px;
}
.feature-icon::before {
    width: 0px;
    height: 0px;
}
.why_choose_area{
    padding-top: 0px;
    padding-bottom: 60px;
}
.service-bg {
    height: 100%;
}
.service-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    line-height: 50px;

}
.service-icon i{
    font-size: 36px;
    color: #fff;
}
.choose-item {
    border-radius: 4px;
}
.nice-select .option {
    line-height: 25px;
    min-height: 25px;
    font-size: 14px;
}

.faq-area .accordion-button:not(.collapsed) {
    border-bottom: 0px dashed var(--theme-color);
}
.blog_row h4{
    font-size: 18px;
}
.blog_row p{
    font-size: 15px;
}

.blog-date {
    padding: 0px 10px;
    border: 2px solid var(--color-white);
    font-size: 14px;
}

.blog_row .theme-btn, .service_row  .theme-btn {
    font-size: 14px;
    padding: 5px 20px;
    border-radius: 20px;
}
.footer_area p{
    font-size: 15px!important;
    line-height: 22px;
}
.footer_area a{
    font-size: 15px!important;
    line-height: 20px;
}
.footer-list {
    display: flex;
    flex-direction: column;
    gap: .20rem;
}
.footer_row{
    display: grid;
    grid-template-columns: 25% 20% 25% 30%;
}
.fbfitem{
    display: flex;
    justify-content: flex-start;
}
.fbsitem{
    display: flex;
    justify-content: flex-end;
}
@media (max-width: 1200px) {
    .footer_row{
      display: grid;
      grid-template-columns: 50% 50%;
    }
}

@media (max-width: 768px) {
    .footer_row{
      display: grid;
      grid-template-columns: 100%;
    }
    .fbfitem{
    margin-top: -20px;
    margin-bottom: 16px;
}
}


